{% extends "index.njk" %}
{% block content %}
<article id="contacts">
<section class="container">
<h2>contacts</h2>
<ul><li>apple</li><li>butter</li></ul>
<ol><li>stick</li><li>legs</li></ol>
</section>
</article>

{% endblock %}