<fieldset class="theme-switcher" id="theme-switcher">
                <legend class="visually-hidden">choose a theme</legend>
                  <label for="comic" title="comic">
                  <input class="theme-option" name="theme" type="radio" id="garden" value="comic">
                    <img eleventy:ignore src="/img/garden-icon.png" alt=""/>
                    <span class="visually-hidden">comic</span>
                </label>
               
                <label for="colorstage">
                  <input class="theme-option" name="theme" type="radio" id="sunset" value="sunset">
                  <img eleventy:ignore src="/img/sunset-icon.png" alt="" title="miami sunset"/>
                  <span class="visually-hidden">color stage</span>
                </label>
                
              </fieldset>